[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.2"
kafka-python = "==1.4.6"
confluent-kafka = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
