[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.2"
pyarrow = "==10.0.1"
jupyter = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
